--tone-1: var(--grey-20);
--tone-2: var(--grey-30);
--tone-3: var(--grey-40);
--tone-4: var(--grey-50);
--tone-5: var(--grey-60);
--tone-6: var(--grey-70);
--tone-7: var(--grey-80);
--tone-8: var(--grey-90);
--tone-8: #fff;